.nav {
    &__list {
        color: $text-color;
        display: inline-flex;
        justify-content: center;
    }

    &__item {
        margin-right: 60px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        text-decoration: none;
        &:hover {
            color: #FF9A00;
            text-decoration: underline;
        }
    }
}