.scroll-down-btn {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: $text-color;
    background-color: transparent;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        color: #FF9A00;
        fill: #FF9A00;
        text-decoration: underline;
    }
    &__icon {
        width: 16px;
        margin-left: 12px;
        fill: $text-color;
    }
}
