.title {
    margin-left: 30px;
}
.headline-component {
    background-image: linear-gradient(to top, #3e3e59, #43436B);
    color: #ffffff80;
}

.btn {
    color: #ffffff80;
    text-decoration: underline;
}
.buttons {
    margin-left: auto;
}
.headline-container {
    display: flex;
    padding: 16px 0;
    align-items: center;
}