.edit-line-component {
  &.blocked {
    opacity: 0.5;
    filter: grayscale(100%);
    pointer-events: none;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 80%;
  flex: 0.8;
}

.buttons {
  display: flex;
}

.button-icon {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}
.btn {
  margin-right: 20px;
  &:last-child {
    margin: 0;
  }
}