.tag {
  white-space: nowrap;
  padding: 6px 20px;
  border-radius: 50px;
  background: #F3F6F9;
  color: rgba(40, 51, 64, 0.5);
  margin-right: 2px;
  margin-bottom: 8px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}
.remove {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:after {
    content: "";
    background: svg-load("cross.svg", fill=black) center center / contain no-repeat;
    width: 10px;
    height: 10px;
  }
}

