section.hero
    .hero__title
        .hero__title__name Олег Кудряшов
        .hero__title__card Личный сайт #[br] веб разработчика
    .hero__scroll-buttons
        button.scroll-down-btn Скролл
        +icon('scroll', 'scroll-down-btn__icon')