.hero
    .hero__title
        .hero__title__name Олег
            br
            | Кудряшов
        .hero__title__card Личный сайт
            br
            | веб разработчика
    .hero__scroll
        .hero__scroll__title Скролл
        +icon('arrow-down', 'hero__scroll_icon')