-
    const skills = [
            ["Frontend", [["HTML5", 228.8], ["CSS3", 367.8], ["Javascript", 300.8], ["Jquery и Vue.js", 300.8]]],
            ["Workflow", [["GIT", 150.8], ["Terminal", 250], ["Gulp", 367.8], ["Webpack", 367.8]]]
    ];

section#skills.skills
    .skills__wrapper
        .skills__image
            .skills__image-style
                +image("content/hand.png", "skills__image-pic")
        .skills__view
            .skills__widget
                ul.skills-widget
                    each item in skills
                        li.skills-widget__item
                            .skills-widget-row
                                .skills-widget__title #{item[0]}
                                    ul.skills-widget-row__list
                                        each skill in item[1]
                                            +circleChart(skill[0], skill[1])

            .skills__title
                .skills__title-text Чем я могу быть полезен вам
                .skills__content
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!