.skill-component {
    display: flex;
    color: $text-color-admin;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 22px;
}
.title {
    flex: 1;
    padding-right: 70px;
}
.percent {
    flex: 0.4;
    padding-right: 50px;
}
.btn {
    margin-right: 20px;
    &:last-child {
        margin: 0;
    }
}