.page-content {
    padding: 60px 0 20px;
    background: url("../../../images/wallpaper/admin.jpg") center center / cover no-repeat;
    flex: 1;
    min-height: 100vh;
}
.title {
    margin-right: 60px;
    font-size: 21px;
    line-height: 29px;
    font-weight: bold;
    @media (max-width: 450px) {
        margin-bottom: 20px;
    }
}