include mixins/nav
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .main-section-wallpaper
        include components/sections/hero
        include components/sections/about
      .skills-section-wallpaper
        include components/sections/skills
      include components/sections/portfolio
      .review-section-wallpaper
        include components/sections/reviews
      include components/layout/footer

